---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About - Francesco Mari">
  <header class="wrapper">
    <p class="site-title">
      <a href="/">Francesco Mari</a>
    </p>
    <ul class="nav">
      <li class="nav__item nav__item--current">
        <a href="/">About</a>
      </li>
      <li class="nav__item">
        <a href="/projects">Projects</a>
      </li>
      <li class="nav__item">
        <a href="/francesco-mari-resume.pdf" target="_blank">Resume</a>
      </li>
      <li class="nav__item">
        <a href="/serendipity">Interesting things</a>
      </li>
      <li class="nav__item">
        <a href="/mographs">Mographs</a>
      </li>
    </ul>
  </header>
  <main class="content wrapper clearfix">
    <img src="images/francesco-mari.jpg" class="about-picture">
    <div class="about">
      <p>Hi, I'm Francesco! A software engineer from Italy, with a penchant for code quality and software architecture.</p>
      <p>Currently I'm working at <a href="https://latana.com/" target="_blank">Latana</a>, a brand performance analytics company based in Berlin. I enjoy writing backend apps with Ruby, but I consider myself a full-stack developer; I've been a Linux fan since the Slackware era, but I'm also interested in the Frontend domain.</p>
      <p>I'm a fan of Agile methodologies and the GTD principles.<br>I believe in ethics, simplicity, and purpose.</p>
      <p>Movie snob, typography lover, and UX enthusiast. <br>I believe that technology should make our existence better rather than just making our lives easier.</p>
    </div>
  </main>
  <footer class="wrapper">
    <span>Say hello! 🍻</span>
    <ul class="contact_links">
      <li>
        <a href="https://github.com/sekmo" target="_blank">github
      </li>
      </a>
      <li>
        <a href="https://twitter.com/sekmo" target="_blank">twitter
      </li>
      </a>
      <li>
        <a href="https://telegram.me/sekmo" target="_blank">telegram
      </li>
      </a>
      <li>
        <a href="mailto:francescojjmari@gmail.com" target="_blank">email
      </li>
      </a>
    </ul>
  </footer>
</Layout>
