---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About - Francesco Mari">
  <header class="wrapper">
    <p class="site-title">
      <a href="/">Francesco Mari</a>
    </p>
    <ul class="nav">
      <li class="nav__item nav__item--current">
        <a href="/">About</a>
      </li>
      <li class="nav__item">
        <a href="/projects">Projects</a>
      </li>
      <li class="nav__item">
        <a href="/francesco-mari-resume.pdf" target="_blank">Resume</a>
      </li>
      <li class="nav__item">
        <a href="/serendipity">Interesting things</a>
      </li>
      <li class="nav__item">
        <a href="/mographs">Mographs</a>
      </li>
    </ul>
  </header>
  <main class="content wrapper clearfix">
    <img src="images/francesco-mari.jpg" class="about-picture">
    <div class="about">
      <p>Hi, I'm Francesco! An experienced software engineer passionate about crafting simple solutions that deliver high impact and drive business growth.</p>
      <p>My portfolio includes a wide range of applications, including data collection systems, API integrations, and dashboard applications.
        Currently, I'm working as a contractor with <a href="https://latana.com/" target="_blank">Latana GmbH</a>, a company specializing in brand performance analytics, where I design and implement Ruby applications in our microservices-oriented architecture.
      </p>
      <p>I've been a Linux enthusiast since the early days of Slackware, which ignited my passion for open-source software and technology.
        I mainly enjoy building Backend systems with Ruby, but I also appreciate the creativity and problem-solving involved in Frontend development.</p>

      <p>My values are grounded in ethics, simplicity, and purpose.<br>
        I believe that technology should make our existence better, rather than just making our lives easier.
      </p>
    </div>
  </main>
  <footer class="wrapper">
    <span>Say hello! 🍻</span>
    <ul class="contact_links">
      <li>
        <a href="https://github.com/sekmo" target="_blank">github
      </li>
      </a>
      <li>
        <a href="https://twitter.com/sekmo" target="_blank">twitter
      </li>
      </a>
      <li>
        <a href="https://telegram.me/sekmo" target="_blank">telegram
      </li>
      </a>
      <li>
        <a href="mailto:francescojjmari@gmail.com" target="_blank">email
      </li>
      </a>
    </ul>
  </footer>
</Layout>
