---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects - Francesco Mari">
  <header class="wrapper">
    <p class="site-title"><a href="/">Francesco Mari</a></p>
    <ul class="nav">
      <li class="nav__item"><a href="/">About</a></li>
      <li class="nav__item nav__item--current"><a href="/projects">Projects</a></li>
      <li class="nav__item"><a href="/francesco-mari-resume.pdf" target="_blank">Resume</a></li>
      <li class="nav__item"><a href="/serendipity">Interesting things</a></li>
      <li class="nav__item"><a href="/mographs">Mographs</a></li>
    </ul>
  </header>
  <main class="content wrapper clearfix">
    <div class="portfolio">
      <div class="portfolio__item"><img src="/images/portfolio/inabita.png" alt="Inabita">
        <p class="portfolio__item__title">Inabita (<a href="https://inabitalab.com" target="_blank">website</a>)</p>
        <p class="portfolio__item__description">Website for a Research Laboratory for Territorial Regeneration (Astro js)</p>
      </div>
      <div class="portfolio__item"><img src="/images/portfolio/quotes.jpg" alt="Quotes">
        <p class="portfolio__item__title">Quotes (<a href="https://github.com/sekmo/quotes" target="_blank">github</a>)</a></p>
        <p class="portfolio__item__description">Display meaningful quotes with style! (React, Rails)</p>
      </div>
      <div class="portfolio__item"><img src="/images/portfolio/movienight.jpg" alt="Movienight">
        <p class="portfolio__item__title"><a href="https://github.com/sekmo/movienight" target="_blank">Movienight (github)</a></p>
        <p class="portfolio__item__description"> An app to quickly choose movies to watch with your partner or your friends.<br>(Rails, Rspec, TMDB api)</p>
      </div>
      <div class="portfolio__item"><img src="/images/portfolio/uberlist.png" alt="Uberlist">
        <p class="portfolio__item__title">Uberlist (<a href="https://github.com/sekmo/uberlist" target="_blank">github</a>)</a></p>
        <p class="portfolio__item__description">Create your projects and organize your tasks!<br>(Rails, Rspec, Javascript)</p>
      </div>
      <div class="portfolio__item"><img src="/images/portfolio/mynotes.jpg" alt="MyNotes">
        <p class="portfolio__item__title">MyNotes (<a href="https://github.com/sekmo/myNotes" target="_blank">github</a>)</p>
        <p class="portfolio__item__description">This was my first Rails project, in 2017.<br>I wanted to get my hands on the Rails architecture, Rspec, and Nginx.</p>
      </div>
      <div class="portfolio__item"><img src="/images/portfolio/foodplaces.jpg" alt="Foodplaces">
        <p class="portfolio__item__title">FoodPlaces (<a href="https://github.com/sekmo/foodplaces" target="_blank">github</a>)</a></p>
        <p class="portfolio__item__description">A Rails app for managing your favorite restaurants.<br>(Rails, Rspec, Javascript, Google API)</p>
      </div>
      <div class="portfolio__item"><img src="/images/portfolio/luca-agnani-studio.jpg" alt="Luca Agnani Studio">
        <p class="portfolio__item__title">Luca Agnani Studio (<a href="http://www.lucaagnani.com/work-en.php" target="_blank">website</a>)</p>
        <p class="portfolio__item__description">A showcase website for an awesome Projection Mapping Studio in Italy.<br>(HTML, CSS, jQuery)</p>
      </div>
      <div class="portfolio__item"><img src="/images/portfolio/marche-country-homes.jpg" alt="Marche Country Homes">
        <p class="portfolio__item__title"><a href="http://marchecountryhomes.com/en/" target="_blank">Marche Country Homes</a></p>
        <p class="portfolio__item__description">A country homes selection in the beautiful region of Le Marche, Italy.<br>Frontend and backend customization, joomla to wordpress importer script.</p>
      </div>
      <div class="portfolio__item"><img src="/images/portfolio/sabe.jpg" alt="Sabe">
        <p class="portfolio__item__title"><a href="https://www.sabesnc.it/scale-macerata/index.html" target="_blank">Sabe</a></p>
        <p class="portfolio__item__description">Wooden floors and stairs. Frontend customization.<br>(HTML, CSS, jQuery)</p>
      </div>
      <div class="portfolio__item"><img src="/images/portfolio/labsun.jpg" alt="Labsun">
        <p class="portfolio__item__title"><a href="http://www.labsun.it/tende-a-bracci.php" target="_blank">Labsun</a></p>
        <p class="portfolio__item__description">Pergolas, awnings and canopies.<br>Frontend, product configurator and B2B order manager. (php, mysql, jQuery)</p>
      </div>
      <div class="portfolio__item"><img src="/images/portfolio/artigiansementi.jpg" alt="Artigiansementi">
        <p class="portfolio__item__title"><a href="http://www.artigiansementi.com/en/foraggere.php" target="_blank">Artigiansementi</a></p>
        <p class="portfolio__item__description">Website for a company that selects lawn seed and cereals. (HTML, CSS, jQuery)</p>
      </div>
      <div class="portfolio__item"><a href="http://www.gianlorenzomolaroni.com/en/about.php" target="_blank"><img src="/images/portfolio/molaroni.jpg" alt="Gianlorenzo Molaroni"></a>
        <p class="portfolio__item__title"><a href="http://www.gianlorenzomolaroni.com/en/about.php" target="_blank">Gianlorenzo Molaroni</a></p>
        <p class="portfolio__item__description">Artistic ceramic producer - Frontend development (HTML, CSS, jQuery)</p>
      </div>
    </div>
  </main>
  <footer class="wrapper"><span>Say hello! 🍻</span>
    <ul class="contact_links">
      <li><a href="https://github.com/sekmo" target="_blank">github</li></a>
      <li><a href="https://twitter.com/sekmo" target="_blank">twitter</li></a>
      <li><a href="https://telegram.me/sekmo" target="_blank">telegram</li></a>
      <li><a href="mailto:francescojjmari@gmail.com" target="_blank">email</li></a>
    </ul>
  </footer>
</Layout>
