---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Serendipity - Francesco Mari">
  <header class="wrapper">
    <p class="site-title">
      <a href="/">Francesco Mari</a>
    </p>
    <ul class="nav">
      <li class="nav__item">
        <a href="/">About</a>
      </li>
      <li class="nav__item">
        <a href="/projects">Projects</a>
      </li>
      <li class="nav__item">
        <a href="/francesco-mari-resume.pdf" target="_blank">Resume</a>
      </li>
      <li class="nav__item nav__item--current">
        <a href="/serendipity">Interesting things</a>
      </li>
      <li class="nav__item">
        <a href="/mographs">Mographs</a>
      </li>
    </ul>
  </header>
  <main class="content wrapper clearfix">
    <div class="serendipity">
      <h1 class="page-title">Stuff I like</h1>
      <p>This is my serendipity place, where I share random stuff that I find interesting.<br>I'm sure you'll find something to get inspired.</p>
      <section>
        <h3>Books</h3>
        <ul>
          <li><a href="https://www.goodreads.com/book/show/5608045-apprenticeship-patterns">Apprenticeship patterns</a> - An amazing book about Software Craftmanship (discovered thanks to a great <a href="https://speakerdeck.com/dcarral/what-is-not-software-crafting" target="_blank">talk</a> by <a href="https://twitter.com/dcarral" target="_blank">Daniel Carral</a>)</li>
          <li><a href="https://www.goodreads.com/book/show/225111-The_Laws_of_Simplicity" target="_blank">The laws of Simplicity</a> - Achieve simplicity through reasoned methods</li>
          <li><a href="https://www.goodreads.com/book/show/25744928-deep-work" target="_blank">Deep work</a> - Insights for achieving intense focus in a distracted world</li>
          <li><a href="https://www.goodreads.com/book/show/17288649-creative-confidence" target="_blank">Creative Confidence</a> - Inspiring stories for unlocking your creativity</li>
          <li><a href="https://www.goodreads.com/book/show/10909804-just-my-type" target="_blank">Just my Type</a> - Interesting tales about fonts and their creators</li>
          <li><a href="https://www.goodreads.com/book/show/6732019-rework" target="_blank">Rework</a> - Bold insights into innovative business strategies</li>
        </ul>
      </section>
      <section>
        <h3>Documentaries and nice videos</h3>
        <ul>
          <li>
            <a href="http://www.bbc.co.uk/programmes/p00xnr43" target="_blank">Andrew Marr's History of the World</a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=dxQCMkyXkis" target="_blank">Cómo se hace un libro</a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCsXVk37bltHxD1rDPwtNM8Q" target="_blank">Kurzgesagt – In a Nutshell</a>
          </li>
          <li>
            <a href="https://www.lynda.com/Higher-Education-tutorials/Universal-Principles-Design/193717-2.html" target="_blank">Universal Principles of Design</a>
          </li>
        </ul>
      </section>
      <section>
        <h3>Movies</h3>
        <ul>
          <li><a href="http://www.rogerebert.com/reviews/waking-life-2001" target="_blank">Waking Life</a> - Linklater, 2002</li>
          <li><a href="http://www.rogerebert.com/reviews/kikujiro-2000" target="_blank">Kikujiro</a> - Kitano, 1999</li>
          <li><a href="http://www.rogerebert.com/reviews/le-havre-2011" target="_blank">Le Havre</a> - Kaurismaki, 2011</li>
          <li><a href="http://www.rogerebert.com/reviews/spring-summer-fall-winter_and-spring-2003" target="_blank">Spring, Summer, Fall, Winter... and Spring</a> - Kim Ki-duk, 2004</li>
        </ul>
      </section>
      <section>
        <h3>Tools</h3>
        <ul>
          <li><a href="http://happenapps.com/" target="_blank">Quiver</a> - A great notebook app for programmers, I use it every day.</li>
          <li><a href="https://culturedcode.com/things/" target="_blank">Things</a> - The best GTD app on the market</li>
          <li><a href="https://vox.rocks/" target="_blank">Vox</a> - Remember the minimalism of Winamp?</li>
          <li><a href="https://pinboard.in" target="_blank">Pinboard</a> - After Delicious' demise, how could we live without it?</li>
        </ul>
      </section>
      <section>
        <h3>Graphic design, typography, art</h3>
        <ul>
          <li>
            <a href="https://www.google.com/search?q=hockney+paintings&num=50&source=lnms&udm=2" target="_blank">David Hockney's paintings</a>
          </li>
          <li>
            <a href="http://kidmograph.tumblr.com/" target="_blank">The vintage CGI animations by Gustavo Torres</a>
          </li>
          <li>
            <a href="https://www.codeschool.com/courses/fundamentals-of-design" target="_blank">The basics of typography</a> - free course on codeschool
          </li>
          <li>
            <a href="https://www.google.de/search?q=apercu+font&tbm=isch" target="_blank">The Aperçu font</a>
          </li>
        </ul>
      </section>
    </div>
  </main>
  <footer class="wrapper">
    <span>Say hello! 🍻</span>
    <ul class="contact_links">
      <li>
        <a href="https://github.com/sekmo" target="_blank">github
      </li>
      </a>
      <li>
        <a href="https://twitter.com/sekmo" target="_blank">twitter
      </li>
      </a>
      <li>
        <a href="https://telegram.me/sekmo" target="_blank">telegram
      </li>
      </a>
      <li>
        <a href="mailto:francescojjmari@gmail.com" target="_blank">email
      </li>
      </a>
    </ul>
  </footer>
</Layout>